{
  "name": "__PROJECT_NAME__",
  "version": "0.0.1",
  "private": true,
  "type": "module",
  "scripts": {
    "preview": "bun run ./dist/index.js",
    "dev": "brustjs dev",
    "build": "brustjs build"
  },
  "dependencies": {
    "brustjs": __BRUST_DEP__,
    "react": "^19.2.6",
    "react-dom": "^19.2.6",
    "tailwindcss": "^4.3.0"
  },
  "devDependencies": {
    "@types/bun": "latest",
    "@types/react": "^19.2.15",
    "@types/react-dom": "^19.2.3",
    "typescript": "^6.0.3"
  }
}
