<html lang="en" class="dark"><head><meta charset="utf-8"/><meta name="viewport" content="width=device-width, initial-scale=1"/><title>Built to Brust</title><link rel="stylesheet" href="/_brust/css/app.css"/>{{ __brust_store__ | safe }}</head><body class="brust-body"><main class="brust-container"><h1 class="brust-title">Hello</h1><div data-brust-island="Counter" data-brust-props="{{ island_0_props }}" data-brust-hydrate="load" data-brust-csr></div><div data-brust-island="Counter" data-brust-props="{{ island_1_props }}" data-brust-hydrate="load">{{ island_1_html | safe }}</div></main></body></html>